.a {
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#font {
    font-family: 'Permanent Marker',cursive;
    font-size: 30px;
    border-bottom: dotted brown 4px;
    text-align: center;
    margin: 20px 30px;
}
.b {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display:inline;
    margin-left: 100px;
    margin-top: 25px;
}
div {
    border: 2px solid grey;
    height:500px;
    width:300px;
    border-radius: 15px;
    background-image: linear-gradient(top, rgb(165, 101, 117), rgb(165, 101, 117) 30%, transparent 30%, transparent 100%);
    background-image: -webkit-linear-gradient(top, rgb(165, 101, 117), rgb(165, 101, 117) 30%, transparent 30%, transparent 100%);
}
.c {
    overflow: auto;
    height: 255px;
    text-align: center;
    margin: 0px 10px;
    padding: 0 15px;
}
