.a {
    height: 500px;
    width: 300px;
    border: 3px gray solid;
    border-radius: 20px;
    overflow: hidden;
}
.font {
    font-family: 'Permanent Marker',cursive;
    font-size: 30px;
    border-bottom: dotted brown 4px;
    text-align: center;
    margin: 5px 30px;
}
.b {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.c {
    overflow: auto;
    height: 230px;
    text-align: center;
    margin: 0px 10px;
    padding: 0 15px;
}
.bgc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: deeppink;
    overflow: hidden;
}
